.btnHover {
  color: #3083ed !important;
}

.login-card button {
  border: 2.3px solid #f8f9fa;
  margin-top: 10px;
}

.login-card img {
  width: 60%;
  height: 198px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .login-card img {
    display: none;
  }
}
