textarea {
  overflow: hidden;
  word-wrap: break-word;
  resize: none;
  height: 160px;
  font-family: Courier, monospace;
}

#text {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  color: #222;
  font-family: Courier, monospace;
  font-weight: normal;
  font-size: 24px;
  resize: auto;
  line-height: 40px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 45px;
  padding-bottom: 34px;
  background-image: url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png),
    url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
  background-repeat: repeat-y, repeat;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.2);
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  height: 80vh;
  outline: none;
}
